In [ ]:
import numpy as np
import pandas as pd
from statsmodels.stats import weightstats as stests
import math
import statistics as Sts
import scipy.stats as stats

In [ ]:
df=pd.read_csv('/content/Tomato.csv')

In [ ]:
df.head()

         Date Unit  Minimum  Maximum  Average  Market
0  2013-06-16   Kg       26       32     29.0  Tomato
1  2013-06-17   Kg       20       25     22.5  Tomato
2  2013-06-18   Kg       22       26     24.0  Tomato
3  2013-06-19   Kg       24       28     26.0  Tomato
4  2013-06-20   Kg       22       26     24.0  Tomato

In [ ]:
df[['Minimum','Maximum']].describe()

           Minimum      Maximum
count  2741.000000  2741.000000
mean     35.089748    41.281284
std      16.648425    17.364135
min       8.000000    12.000000
25%      22.000000    30.000000
50%      30.000000    38.000000
75%      45.000000    50.000000
max     115.000000   120.000000

In [ ]:
df['Minimum'].describe()

count    2741.000000
mean       35.089748
std        16.648425
min         8.000000
25%        22.000000
50%        30.000000
75%        45.000000
max       115.000000
Name: Minimum, dtype: float64

In [ ]:
df['Maximum'].describe()

count    2741.000000
mean       41.281284
std        17.364135
min        12.000000
25%        30.000000
50%        38.000000
75%        50.000000
max       120.000000
Name: Maximum, dtype: float64

In [ ]:
ztest,propability_value=stests.ztest(df['Minimum'], x2=None, value=146)
print(float(propability_value))
print(ztest)
if propability_value<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

0.0
-348.78119634543475
Null hyphothesis rejected , Alternative hyphothesis accepted

In [ ]:
ztest,propability_value=stests.ztest(df['Maximum'], x2=None, value=146)
print(float(propability_value))
print(ztest)
if propability_value<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

0.0
-315.7371398154191
Null hyphothesis rejected , Alternative hyphothesis accepted

In [ ]:
DF=df.head(1000)

In [ ]:
DF.head()

         Date Unit  Minimum  Maximum  Average  Market
0  2013-06-16   Kg       26       32     29.0  Tomato
1  2013-06-17   Kg       20       25     22.5  Tomato
2  2013-06-18   Kg       22       26     24.0  Tomato
3  2013-06-19   Kg       24       28     26.0  Tomato
4  2013-06-20   Kg       22       26     24.0  Tomato

In [ ]:
X_bar=np.sum(DF['Maximum'])

In [ ]:
print(X_bar)

40304

In [ ]:
Mu=np.sum(df['Maximum'])
print(Mu)

113152

In [ ]:
sigma=Sts.stdev(df['Maximum'])

In [ ]:
print(sigma)

17.36413505152063

In [ ]:
n=len(DF['Maximum'])
print(n)

1000

In [ ]:
Z=((X_bar-Mu)/((sigma/math.sqrt(n))))

In [ ]:
print(Z)

-132667.47943645617

A teacher claims that the mean score of students in his class is greater than 82 with a standard deviation of 20. If a sample of 81 students was selected with a mean score of 90 then check if there is enough evidence to support this claim at a 0.05 significance level.

In [ ]:
x_bar=90
mu=82
sig=20
N=81
z=((x_bar-mu)/((sig/math.sqrt(N))))
print(z)

3.5999999999999996

In [ ]:
pval=1-stats.norm.cdf(z)

In [ ]:
print(pval)

0.00015910859015755285

In [ ]:
if pval<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted